.vscode/**
.vscode-test/**
.vscode-test-workspace/**
src/**
.gitignore
.github/**
tsconfig.json
esbuild.js
**/*.map
**/*.ts
node_modules/**
.agents/**
package-lock.json
vitest.config.ts
.eslintrc.security.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md
coverage/**
